body {
	background-color: darkgreen;
}

#board {
	width: 440px;
	height: 440px;
	border: 1px solid white;
	background-color: black;
	position: relative;
	justify-content: center;
	align-items: center;
}

/* #gameItem {
	background-color: teal;
	width: 50px;
	height: 50px;
	position: absolute;
} */

#leftPaddle {
	/* appearance */
	background-color: red;
	width: 20px;
	height: 80px;

	/* positioning */
	position: absolute;
	top: 0px;
	left: 0px;
}

#rightPaddle {
	/* appearance */
	background-color: blue;
	width: 20px;
	height: 80px;

	/* positioning */
	position: absolute;
	top: 360px;
	left: 420px;
}

#ball {
	/* appearance */
	background-color: white;
	width: 20px;
	height: 20px;
	border-radius: 10px;

	/* positioning */
	position: absolute;
	top: 220px;
	left: 220px;
}

.score {
	background-color: white;
	width: 440px;
	height: 120px;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	margin-top: 1%;
	font-family: "Ubuntu", monospace;
	font-size: 40pt;
	text-align: center;
}

#leftScore {
	position: relative;
	width: 35%;
	height: 85%;
	background-color: red;
	border-radius: 10px;
	font-size: 25pt;
	text-align: center;
	margin: 2%;
}

#rightScore {
	position: relative;
	width: 35%;
	height: 85%;
	background-color: blue;
	border-radius: 10px;
	font-size: 25pt;
	text-align: center;
	margin: 2%;
}

button {
	margin-top: 8px;
	width: 256px;
	font-size: 1rem;
	height: 48px;
	cursor: pointer;
}

#vertical-line {
	position: relative;
	margin: auto;
	height: 100%;
	width: 0%;
	border-width: 1px;
	border-style: dashed;
	border-color: white;
}